{% extends 'base/base.html' %}

{% block content %}
        {% if households %}
            <div class="row">
                <div class="col-2">Apartment</div>
                <div class="col-2">% ideal parts</div>
            </div>
            {% for curr_hh in households %}
                <div class="row">
                    <div class="col-2">
                        <a href="{% url 'hh_profile' curr_hh.apartment %}">{{ curr_hh.apartment }}</a>
                    </div>
                    <div class="col-2">
                        {{ curr_hh.apartment_percent_ideal_parts }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3>There are no households yet.</h3>
        {% endif %}
{% endblock %}