{% extends 'base/base.html' %}

{% block content %}
    <b>Users without household admins ({{ not_approved_members.count }})</b><br/><br/>
    {% if not_approved_members %}
        {% for curr_member in not_approved_members %}
            <div class="row">
                <div class="col">
                     {{ curr_member.first_name }} {{ curr_member.last_name }} <a href="{% url 'view_profile' curr_member.user.id %}">{{ curr_member.user }}</a>
                    {% if curr_member.apartment in existing_apartments %}
                        <a href="{% url 'hh_profile' curr_member.apartment %}">{{ curr_member.apartment }} apt.</a>
                    {% else %}
                        {{ curr_member.apartment }} apt.
                    {% endif %}
                </div>
                <div class="col">
                    <a href="{% url 'hh_approve_user' curr_member.user.id %}" class="btn bg-warning">Approve / Reject</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if user.is_superuser %}
        <a href="{% url 'all_pending_members' %}" class="btn bg-warning">See all pending users</a>
    {% endif %}
{% endblock %}