{% load hh_admin %}
{% load pending_members_alert %}
{% load profile_is_complete %}

<nav class="navbar">
	<a href="{% url 'home_view' %}" class="btn nav-brand">Home</a>
    {% if request.user.is_authenticated %}
        <a href="{% url 'all_news_view' %}" class="btn nav-brand">News</a>
    {% endif %}
	<a href="{% url 'contact_view' %}" class="btn nav-brand">Contacts</a>

	{% if not user.is_authenticated %}
        <a href="{% url 'register_view' %}" class="btn nav-brand">Register</a>
        <a href="{% url 'login_view' %}" class="btn nav-brand">Login</a>
	{% endif %}
	{% if user.is_authenticated %}
	    <a href="{% url 'logout_view' %}" class="btn nav-brand">Logout</a>
        <a href="{% url 'view_profile' user.id %}" class="btn nav-brand">Profile</a>
        {% hh_admin %}
        <a href="{% url 'payment_types' %}" class="btn nav-brand">Payments</a>
    {% if user.is_superuser %}
        <a href="{% url 'all_hh_profiles' %}" class="btn nav-brand">Households</a>
        <a href="{% url 'all_users' %}" class="btn nav-brand">Users</a>
    {% endif %}
	{% endif %}
</nav>

{% if request.user.is_authenticated %}
    {% profile_is_complete %}
{% endif %}
{% pending_members_alert %}


