{% extends 'base/base.html' %}

{% block alerts %}
    {% if error_message %}
            <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if news == None %}
        <div class="text-center">
            <h5>Welcome to your online cashier app.</h5>
            Here you can pay your own your household's taxes.<br/>
            You can also manage the taxes and the salaries in the building.<br/>
            New section will be updated automatically when a change in the taxes or the salaries occur.
        </div>
    {% endif %}

    {% if request.user.is_superuser and news.count >= 0 %}
        <a href="{% url 'create_news' %}" class="btn bg-warning">Add news</a><br/>
    {% endif %}

    {% if news %}
        {% for curr_news in news %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ curr_news.title }}</h5>
                    <p class="card-text">{{ curr_news.content }}</p>
                    <a href="{% url 'comment_news_view' curr_news.id %}" class="btn btn-info">See more</a>
                </div>
            </div>
        {% endfor %}

        <div class="pagination justify-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% elif news.count == 0 %}
        Currently there are no news.
    {% endif %}
{% endblock %}