{% extends 'base/base.html' %}

{% block content %}
{% if members_in_hh %}
    <div class="alert alert-info" role="alert">Click on the username to make payment for the corresponding user.</div>
    <div class="row">
        <div class="col"><b>First name</b></div>
        <div class="col"><b>Last name</b></div>
        <div class="col"><b>Username</b></div>
    </div>
    {% for curr_member in members_in_hh %}
        <div class="row">
            <div class="col">
                {{ curr_member.first_name }}
            </div>
            <div class="col">
                {{ curr_member.last_name }}
            </div>
            <div class="col">
                <a href="{% url 'make_payment' curr_member.user.id %}">{{ curr_member.user }}</a>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}