{% extends 'base/base.html' %}
{% load current_tax %}

{% block alerts %}
    {% if profile_owner != request.user %}
        <div class="alert alert-danger" role="alert">
            Warning! You are about to make payment for <a href="{% url 'view_profile' profile_owner.id %}">{{ profile_owner }}</a>
        </div>
    {% endif %}
    {% tax_admin %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">Month</div>
        <div class="col">Tax</div>
        <div class="col">Paid</div>
    </div>
    {% for curr_month, curr_tax, curr_paid in tax_info %}
        <div class="row">
            <div class="col">{{ curr_month }}</div>
            <div class="col">{{ curr_tax }}</div>
            <div class="col">{{ curr_paid }}</div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col"><b>Total: </b></div>
        <div class="col"><b>{{ total_taxes_needed }} </b></div>
        <div class="col"><b>{{ total_taxes_paid }} </b></div>
    </div>
    {% if form.fields %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Pay</button>
        </form>
    {% else %}
        <p class="message-success"><i class="bi bi-check"></i>You have paid all your taxes :)</p>
    {% endif %}
{% endblock %}