{% extends 'base/base.html' %}

{% block content %}
    <div class="row">
        <div class="col">Month</div>
        <div class="col">Salary</div>
        <div class="col">Paid</div>
    </div>
    {% for curr_month, curr_tax, is_paid in tax_info %}
        <div class="row">
            <div class="col">{{ curr_month }}</div>
            <div class="col">{{ curr_tax }}</div>
            <div class="col">{{ is_paid }}</div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col"><b>Total: </b></div>
        <div class="col"><b>{{ total_taxes_needed }} </b></div>
        <div class="col"><b>{{ total_taxes_paid }} </b></div>
    </div>
    {% if form.fields %}
        <form method="post" style="padding: 5px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Pay</button>
        </form>
    {% else %}
        <p class="message-success"><i class="bi bi-check"></i>You have paid all salaries :)</p>
    {% endif %}

{% endblock %}