{% extends "user_navbar.html" %}

{% block admin_content %}
	<!-- This should be a separate view for the admin(s) -->
	<a href="#">Remove users</a>
	<a href="#">Add stuff (payments types...)</a>
	<a href="#">Set household admin</a>
	<a href="#">Add general expenses</a>
	<a href="#">Get mail/ phones (filterd by newseletter agreed)</a>
	<a href="#">Update taxes, salaries...</a>
	<a href="#">Add payments (taxes payed in cash)</a>
	<a href="#">Edit profiles (maybe ideal part only)</a>
	<a href="#">Add general incomes</a>
	<a href="#"></a>
{% endblock %}