{% extends 'base.html' %}

{% block content %}
    <b>Users without household admins ({{ not_approved_members.count }})</b><br/><br/>
    {% if not_approved_members %}
        <table>
            <tr>
                <th>
                    First name
                </th>
                <th>
                    Last name
                </th>
                <th>
                    Username
                </th>
                <th>
                    Apartment
                </th>
                <th>
                    Approve/ Reject
                </th>
            </tr>
            {% for curr_member in not_approved_members %}
                <tr>
                    <td>
                         {{ curr_member.first_name }}
                    </td>
                    <td>
                        {{ curr_member.last_name }}
                    </td>
                    <td>
                        <a href="{% url 'view_profile' curr_member.user.id %}">{{ curr_member.user }}</a>
                    </td>
                    <td>
                        {% if curr_member.apartment in existing_apartments %}
                            <a href="{% url 'hh_profile' curr_member.apartment %}">{{ curr_member.apartment }} apt.</a>
                        {% else %}
                            {{ curr_member.apartment }} apt.
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'hh_approve_user' curr_member.user.id %}">Approve / Reject</a>
                    </td>
                </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% if user.is_superuser %}
        <a href="{% url 'all_pending_members' %}">See all pending users</a>
    {% endif %}
{% endblock %}