{% extends 'base.html' %}
{% load current_tax %}

{% block content %}
    {% if profile_owner != request.user %}
        <h2>
            <span style="color: red;">
                Warning! You are about to make payment for <a href="{% url 'view_profile' profile_owner.id %}">{{ profile_owner }}</a>
            </span>
        </h2>
    {% endif %}
    <h3>{% tax_admin %}</h3>
    <table>
            <tr>
                <th>
                    Month
                </th>
                <th>
                    Tax
                </th>
                <th>
                    Paid
                </th>
            </tr>
        {% for curr_month, curr_tax, is_paid in tax_info %}
        <tr>
            <td>
                {{ curr_month }}
            </td>
            <td>
                {{ curr_tax }}
            </td>
            <td>
                {{ is_paid }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% if form.fields %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Pay</button>
        </form>
    {% else %}
        You have paid all your taxes :)
    {% endif %}

{% endblock %}