{% extends 'base/base.html' %}

{% block content %}
    Names: {{ profile.first_name }} {{ profile.last_name }}<br/>
    email: <a href="mailto: {{ profile.email }}">{{ profile.email }}</a><br/>
    Phone number: {{ profile.phone_number }}<br/>
    Apartment:
    {% if profile.household %}
        <a href="{% url 'hh_profile' profile.apartment %}">{{ profile.apartment }}</a>
    {% else %}
        Currently not part of a household
    {% endif %}
    <br/>
    {% if profile.user == request.user or request.user.is_superuser %}
        Household admin: {{ profile.is_household_admin }}<br/>
        Lives in apartment: {{ profile.live_in_apartment }}<br/>
    {% endif %}
    {% if profile.user == request.user or request.user.is_superuser %}
        Receive email alerts: {{ profile.newsletter_agreement }}<br/>
        <a href="{% url 'edit_profile' profile.user.id %}">Edit profile</a>

        <a href="{% url 'delete_profile' profile.user.id %}">Delete profile</a>
    {% endif %}
{% endblock %}